body {
    background-color: rgb(0, 0, 0);
    color: #fff;
    font-family: 'Inter', sans-serif;
    font-weight: lighter;
    text-transform: uppercase;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    position: relative;
    transition: all .5s ease;
}

.container {
    max-width: 1216px;
    margin: 0 auto;
    padding: 24px;
}

a {
    color: #fff;
    text-decoration: none;
    position: relative;
    transition: all .3s ease;
}

a:hover {
    color: gray;
}

.home-btn__link::after {
    content: '';
    display: block;
    width: 0;
    height: 1px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #fff;
    transition: width .7s ease;
}

.home-btn:hover .home-btn__link::after {
    width: 100%;
}

.welcome-block {
    height: 100vh;
    padding: 24px;
    position: relative;
}

.portfolio-title {
    position: fixed;
    top: 48%;
    left: -50px;
    transform: rotate(-90deg);
    z-index: 1;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.theme-toggle-and-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 80px;
    background-color: #424242;
    padding: 0 10px;
    border-radius: 25px;
}

.theme-toggle-and-nav * {
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.theme-toggle-and-nav__toggle {
    transition: transform .7s ease;
    filter:invert(0);
}

.theme-toggle-and-nav__toggle:hover {
    cursor: pointer;
    transform: rotate(180deg);
}

.theme-toggle-and-nav__nav {
    width: 20px;
    height: 1px;
    background-color: #fff;
    position: relative;
}

.theme-toggle-and-nav__nav::before {
    content: '';
    width: 20px;
    height: 1px;
    background-color: #fff;
    position: absolute;
    top: -6px;
    left: 0;
    transition: left .5s ease;
}

.theme-toggle-and-nav__nav::after {
    content: '';
    width: 20px;
    height: 1px;
    background-color: #fff;
    position: absolute;
    top: 6px;
    left: 0;
    transition: left .5s ease;
}

.nav-list {
    position: absolute;
    height: 100vh;
    flex-direction: column;
    justify-content: space-around;
    top: 0;
    width: 50%;
    left: -2000px;
    background-color: #000;
    padding: 0;
    margin: 0;
    transition: all .8s ease;
    z-index: 1;
}

.nav-list:hover {
    cursor: auto;
}

.nav-list * {
    width: 100%;
    font-size: 35px;
    text-align: center;
}

.close-nav-list-btn {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 30px;
    right: 30px;
    transition: all .5s ease;
}

.close-nav-list-btn {
    width: 50px;
    height: 50px;
}

.left-border-close-btn {
    transform: rotate(45deg);
    font-size: 50px;
    transform-origin: 75% 100% 0;
}

.right-border-close-btn {
    transform: rotate(-45deg);
    font-size: 50px;
    transform-origin: 25% 100% 0;
}

.close-nav-list-btn:hover {
    cursor: pointer;
    transform: rotate(90deg);
}

.theme-toggle-and-nav__nav__container:hover {
    cursor: pointer;
}

.theme-toggle-and-nav__nav__container:hover .theme-toggle-and-nav__nav::before {
    left: 7px;
}

.theme-toggle-and-nav__nav__container:hover .theme-toggle-and-nav__nav::after {
    left: -7px;
}

.decor-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.decor-img {
    width: 60vw;
    height: 25vh;
    background: linear-gradient(130deg, #fd00ff, #e85b5b, #383131);
    background-size: 600% 600%;

    -webkit-animation: backgroundAnimation 21s ease infinite;
    -moz-animation: backgroundAnimation 21s ease infinite;
    animation: backgroundAnimation 21s ease infinite;
    border-radius: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contacts-head {
    text-align: center;
    font-size: 60px;
    font-weight: lighter;
}

.question-container {
    width: 60vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-form {
    background-image: url(../images/Hero_image.webp);
    background-size: cover;
    min-height: 500px;
    width: 70vw;
    top:50%;
    left:50%;
    transform: translate(-50%, -2000px);
    display: flex;
    flex-direction: column;
    border-radius: 35px;
    font-weight: 700;
    position: absolute;
    transition: all .9s ease;
    z-index: 1;
}

.input-container {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    margin: 30px 0;
}

label {
    text-align: center;
}

.input-container input {
    font-size: 20px;
    margin: 10px auto;
    border: none;
    padding: 0 5px;
    border-radius: 5px;
    width: 50%;
    min-height: 40px;
}

.text-message {
    width: 50%;
    min-height: 200px;
    resize: none;
    margin: 10px auto;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    padding: 5px;
}

.send-button {
    border-radius: 35px;
    background-color: #fff;
    height: 50px;
    display: block;
    margin: 0 auto;
    width: 150px;
    font-size: 20px;
}

.send-button:hover {
    cursor: pointer;
}

.close-form-btn {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 25px;
    right: 25px;
}

.close-form-btn:hover {
    cursor: pointer;
}

.close-form-btn::before {
    content: '';
    display: block;
    transform: rotate(45deg) translate(17px, -18px);
    height: 100%;
    width: 2px;
    background-color: #fff;
}

.close-form-btn::after {
    content: '';
    display: block;
    transform: rotate(-45deg) translate(53px, -18px);
    height: 100%;
    width: 2px;
    background-color: #fff;
}

p {
    font-weight: bold;
    font-family: 'Comfortaa', cursive;
    letter-spacing: 1px;
}

.open-form-btn {
    margin: 50px 0;
    border: 1px solid rgb(141, 141, 141);
    padding: 20px;
    border-radius: 35px;
    transition: all .5s ease;
    font-weight: normal;
}

.open-form-btn:hover {
    cursor: pointer;
    background-color: #fff;
    color: #000;
}

.social-container {
    width: 80vw;
    display: flex;
    justify-content: space-around;
}

.social-list {
    list-style: none;
    display: flex;
    padding: 0;
    flex-wrap: wrap;
    justify-content: center;
}

.social-list__item {
    width: 50px;
    height: 50px;
    margin: 20px;
}

.social-list__item__link {
    width: 100%;
    height: 100%;
    background-size: cover;
    display: block;
}

.github-link {
    background-image: url(../icons/social-icons/github.png);
}

.vk-link {
    background-image: url(../icons/social-icons/vk.png);
}

.whatsapp-link {
    background-image: url(../icons/social-icons/whatsapp.png);
}

.instagram-link {
    background-image: url(../icons/social-icons/instagram.png);
}

.skype-link {
    background-image: url(../icons/social-icons/skype.png);
}

.telegram-link {
    background-image: url(../icons/social-icons/telegram.png);
}


@-webkit-keyframes backgroundAnimation {
    0%{background-position:0% 4%}
    50%{background-position:100% 97%}
    100%{background-position:0% 4%}
}
@-moz-keyframes backgroundAnimation {
    0%{background-position:0% 4%}
    50%{background-position:100% 97%}
    100%{background-position:0% 4%}
}
@keyframes backgroundAnimation {
    0%{background-position:0% 4%}
    50%{background-position:100% 97%}
    100%{background-position:0% 4%}
}

@media (max-width: 680px) {
    .nav-list * {
        padding: 0;
    }
    .nav-list {
        width: 100%;
    }
    .input-container {
        font-size: 15px;
    }
    .input-container input {
        font-size: 15px;
        margin: 10px auto;
        width: 70%;
        min-height: 40px;
    }
    .text-message {
        width: 70%;
        min-height: 200px;
        resize: none;
        margin: 10px auto;
        font-size: 15px;
    }
    .send-button {
        height: 40px;
        display: block;
        margin: 0 auto;
        width: 130px;
        font-size: 15px;
    }
}

@media (max-width: 600px) {
    .home-btn__link {
        font-size: 30px;
    }

    .theme-toggle-and-nav {
        min-width: 100px;
    }

    .theme-toggle-and-nav__nav {
        width: 100%;
    }

    .theme-toggle-and-nav__nav::before {
        width: 100%;
    }

    .theme-toggle-and-nav__nav::after {
        width: 100%;
    }

    .contacts-head {
        font-size: 50px;
    }
}

@media (max-width: 450px) {
    .contacts-head {
        font-size: 40px;
    }
}